example:
  settings:
    address: REPLACEME
    num_tokens: 3
    name_prefix: lightcycle
    description: lightcycle description
    collection: lightcycle collection
    symbol: LCR
    seller_fee_basis_points: 100
  traits:
    # order matters for trait type: we will layer subsequent traits on top of previous
    # in the example below, we put 'bottom' first, then paste 'top' above it
    trait_types:
      - bottom
      - top
    # order doesn't matter for trait values
    # values are weights.  rarity = weight / sum(weights_in_level)
    trait_values:
      bottom:
        blue: 1
        green: 2
      top:
        black: 1
        red: 2
